<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <div>
        <p>
           <% for (produit of products) { %>

            <p>
                <%= produit.NOM_PRODUIT%>
            </p>

            <p>

                <%= produit.PRIX_PRODUIT%>
            </p>

            <p>
                <%= produit.DESCRIPTION_PRODUIT%>
            </p>

            <% } %>  
        </p>
    </div>

  
</body>
</html>