<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/connexion" method="post">

        <div>
            <label for="nom_client">Votre Email </label>
            <input type="text" name="email_client" id="email_client">
        </div>

        <div>
            <label for="nom_client">Votre mot passe </label>
            <input type="text" name="mot_passe_client" id="mot_passe_client">
        </div>


        <div>
            <button type="submit">authentification</button>
        </div>
    </form>

   <p>
        <p style="color:blue; font-weight: 700; font-size: 30px;">
            <%= message %>
        </p>
   </p>
   
</body>
</html>